
<div id="scraper">

<section class="buttons">   
<button id="scrapebutton" class="navbutton" type="button">Scrape</button>
<button id="clearbutton" class="navbutton" type="button">Clear</button>
<button id="savedbutton" class="navbutton" type="button">Saved Articles</button>
</section> 


<div id="articles"></div>
</div>

<script>
    $("#scrapebutton").on("click", function(){
    clear()
    $.get("/scrape", function(data) {
       
        
      }).then(displayscrape)


})

$("#clearbutton").on("click", clear)

 $("#savedbutton").on("click", function(){
        location.href = "/saved"
    })


</script>