h1{
    text-align: center;
    /* font-family: 'Coiny', cursive; */
    font-family: 'Merriweather', serif;
    background-color: white;
    font-weight: bolder;
    width: 500px;
    margin: 0 auto;
}

#scraper {
    text-align: center;
    font-family: 'Merriweather', serif;
}

#saved {
    text-align: center;
    font-family: 'Merriweather', serif;

 
}

.article {
    margin: 0 auto;
    width: 80%;
    background-color:white;
    border-color: black;
    border: solid;
    margin-top: 20px;
}


h1 {
    /* background-color: black; */
    /* color: white; */
    font-size: 60px;
    
}
.header {
    height: 200px; 
    background-image: url(./News_header.jpg)
}
.buttons {
    height: 60px;
}

.navbutton {
    margin: 15px;

}

.navbutton {
    background-color: transparent;
    border-color: transparent;
    margin: 15px;
    border-color: black
}
.saveart {
    background-color: transparent;
    border-color: transparent;
    margin: 15px;
    border-color: black
}

.delart {
    background-color: transparent;
    border-color: transparent;
    margin: 15px;
    border-color: black
}
.notebutton {
    background-color: transparent;
    border-color: transparent;
    margin: 15px;
    border-color: black

}